### Demand Forecast: Time Series Analysis

Forecasting demand for a restaurant is crucial for effective inventory management, staff scheduling, and overall operational efficiency. Time series forecasting methods can help predict future demand based on historical data. 

We aim to apply various machine learning methods in this task and then identify the most suitable approach. Each method has its strengths and weaknesses, and the choice depends on factors such as data characteristics, level of accuracy required, computational resources, and ease of implementation. Experimenting with multiple methods and evaluating their performance using metrics like Mean Absolute Error (MAE) or Root Mean Squared Error (RMSE) can help identify the most suitable approach for forecasting restaurant demand.

Methods include:
1. Autoregressive Integrated Moving Average (ARIMA)
2. Extreme Gradient Boosting (XGBoost)
3. Random Forest
(to be finalized)

#### ARIMA Model

In [6]:
#import necessary libraries
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_synthetic = pd.read_csv("../data/raw/synthetic_visit_data.csv")
df_synthetic.head()

  day_of_week  visit_date  visitors
0      Sunday  2023-01-01       400
1      Monday  2023-01-02       280
2     Tuesday  2023-01-03       150
3   Wednesday  2023-01-04       120
4    Thursday  2023-01-05       110

In [10]:
df_synthetic_hourly = pd.read_csv("../data/raw/synthetic_visit_hourly_data.csv")
df_synthetic_hourly.head()

  day_of_week  visit_date  visitors_daily_total hour_interval  visitors_hourly
0      Sunday  2023-01-01                   409         10-11                0
1      Sunday  2023-01-01                   409         11-12               13
2      Sunday  2023-01-01                   409         12-13               65
3      Sunday  2023-01-01                   409         13-14               67
4      Sunday  2023-01-01                   409         14-15               17